
<main id="main" class="main">

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
      

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Table Client</h5>


              <!-- Primary Color Bordered Table -->
              <table class="table table-bordered border-primary">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom Societe</th>
                    <th scope="col">Nom Manager</th>
                    <th scope="col">Prenom Manager</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of Client| slice : (page-1) * pageSize : (page-1) * pageSize+pageSize;index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{s.nomSociete}}</td>
                    <td>{{s.nomManager}}</td>
                    <td>{{s.prenomManager}}</td>
                    <td>{{s.adresse}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.phone}}</td>
                   
                    <td>
                        <button type="button" class="btn  btn-sm" (click)="displayClient(s.id)"><i class="bi bi-display"></i></button>
                        <button type="button" class="btn  btn-sm"(click)="editClient(s.id)"><i class="bi bi-pencil"></i></button>
                        <button type="button" class="btn   btn-sm" (click)="deleteClient(s.id)"><i class="bi bi-trash"></i></button>   
                      </td>
                      </tr>
                </tbody>
              </table>
              <ngb-pagination [collectionSize]="Client.length" [(page)]="page"
              [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
              <!-- End Primary Color Bordered Table -->
              
            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  





